#admin-navigation {
  align-content: center;
  background-color: #CCCCDE;
  padding-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  margin-left: 10px;
}
#admin-navigation:hover {text-decoration: underline;}
}
