nav {
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
  display: inline-block;
}
nav a {
    color: white;
    background-color: #13a4a6;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;

}
nav a:hover {
  text-decoration: underline;
  background-color: orange;
}
aside{
  padding: 20px;
}
 ul img{
  max-width: 100px;
  max-height: 100px;
  padding: 20px;
}
img {
  max-width: 200px;
  max-height: 200px;
  padding-right: 20px;
}
h2 {
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}
li {
  display: block;
}
div {
  max-width: 250px;
}
div p a {
  color: white;
  background-color: #13a4a6;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
}
div p a:hover{
  text-decoration: underline;
  background-color: orange;
}
form#editor {
  width: 90%;
  margin:0px;
  padding: 0px;
}
form#editor label, form#editor input[type='text'] {
  display:block;
}
form#editor #editor-buttons{
  border:none;
  text-align: right;
}
form#editor textarea, form#editor input[type='text']{
  width: 90%;
  margin-bottom: 2em;
}
form#editor textarea{
  height: 10em;
}
form#comment-form{
  margin-top: 2em;
  padding-top: 0.7em;
  border-top:5px solid grey;
}
form#comment-form label, form#comment-form input[type='submit']{
  padding-top:0.7em;
  display:block;
}
form#comment-form input[type='submit'] {
  color: blue;
}
